@model ShmffPortal.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "استرجاع كلمة مرور جديدة";
    Layout = "~/Views/Shared/_NewDesignLayout.cshtml";

}

 
<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in">
        <div class="container">
            <h2> @ViewBag.Title    </h2>
        </div>
    </div><!-- End Breadcrumbs -->
</main>
<br />
<div class="contact-box-main">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-sm-12">
                @{ Html.BeginForm();
                    @Html.AntiForgeryToken()
                }

                <div id="SSNError" class="alert alert-danger" style="@(@ViewBag.SSNError==null?"display:none":"display:block")">
                    @ViewBag.SSNError
                </div>
                <div class="form-group">
                    <label for="snnInput">الرقم القومي لصاحب الطلب</label>
                    @Html.TextBoxFor(m => m.SSN, new { id = "SSN", @class = "form-control", @placeholder = "الرقم القومي", @type = "number", min = "1" })
                    @Html.ValidationMessageFor(model => model.SSN, "", new { @class = "text-danger" })

                    <div id="SSNError" class="alert alert-danger" style="@(@TempData["SSNError"]==null?"display:none":"display:block")">
                        @TempData["SSNError"]
                    </div>
                </div>
                <div class="form-group">
                    <label for="snnInput">رقم التليفون المحمول لصاحب الطلب</label>
                    @Html.TextBoxFor(m => m.Phone, new { @class = "form-control", @placeholder = "الموبايل", @type = "number", min = "1" })
                    @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                </div>

                <input type="submit" class="btn btn-success" name="Result" onclick="return validateSNN();" style="color:white;" value="استرجاع كلمة مرور جديدة" />
                @{ Html.EndForm(); }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval");
    <script src="~/Scripts/ValidateSSN.js" type="text/javascript"></script>
    <script type="text/javascript">
        function clearValidation() {
            $('#SSNError').attr('style', 'display:none');
            $('#QuestionError').attr('style', 'display:none');
        }
        function validateSNN() {
            debugger
            if ($('#SSN').val() == "") {
                var snn = isValidSSN($('#SSN_hid').val());
                if (!snn) {
                    $('#SSNError').html('برجاء إدخال رقم قومي صحيح');
                    $('#SSNError').attr('style', 'display:block');
                }
            }
            else {
                var sNNResult = isValidSSN($('#SSN').val());
                if (!sNNResult) {
                    debugger
                    $('#SSNError').html('برجاء إدخال رقم قومي صحيح');
                    $('#SSNError').attr('style', 'display:block');
                }
            }
            return sNNResult;
        }

        function validate() {
            clearValidation();
            return validateSNN();
        }

        function validateSend() {
            clearValidation();
            var s = validateSNN();
            var q = validateQuestion();
            return s && q;
        }
    </script>
}


@*@{
        ViewBag.Title = "Forgot your password?";
        Layout = "~/Views/Shared/_MainLayout.cshtml";
    }

    <h2>@ViewBag.Title.</h2>

    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4>Enter your email.</h4>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Email Link" />
            </div>
        </div>
    }

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@
